<!DOCTYPE html> 
<html>
<head>
    <link rel = "stylesheet" href = "gmap.css">
    <title>ATM Locator</title>

</head>
<body>

    <div id="body1">
        <img src="logo.png" id="logo">
        <div id="headname"><h1>ATM Locator</h1></div>
        <div class="head"><a href="aboutus.html" style="color: azure;"><h3 class="headoptions">About Us</h3></a></div>
        <div class="head"><a href="contactus.html" style="color: azure;"><h3 class="headoptions">Contact Us</h3></a></div>
    </div>

    <div id="body2">
        <img src="bg.jpg" id="bg">
        <iframe class = "gmap" id = "" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3! 
    1d3891.4120880612522!2d80.20075717404684!3d12.751728819662729!2m3!
    1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52512f04729e11%3A0
    xbc4ea0ae50ca1aaa!2sSri%20Sivasubramaniya%20Nadar%20College%20of%20
    Engineering!5e0!3m2!1sen!2sin!4v1681649151283!5m2!1sen!2sin" 
    width="600" height="450" style="border:0;" allowfullscreen="" 
    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</body>
</html>