<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='signup.css')}}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <form action="{{url_for('signup_form')}}" method="post">
        <label for="FName">First Name</label>
        <input type="text" name="FName" placeholder="" required />
        <label for="LName">Last Name</label>
        <input type="text" name="LName" placeholder="" required/>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="" required/>
        <label for="pwd">Password</label>
        <input type="password" name="pwd" placeholder="" required/>
        <label for="cpwd">Confirm Password</label>
        <input type="password" name="cpwd" placeholder="" required/>
        <input type="submit" name="signup" value="Sign Up" id="submit">
      <closeform></closeform></form>

      
    </div>
    <p class="para-2">
      Already have an account? <a href="{{url_for('signinhome')}}">Login here</a>
    </p>
  </body>
</html>



